@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Karan Singh Gaur</h1>


<div>

    <div class="row">
        <div class="col-md-1">
            <label>Department</label>
            @Html.DropDownList("DepartmentId", new SelectList(@ViewBag.cities, "Value", "Text"))
        </div>
    </div>
</div>

